<div class="navbar-container">
<ul class="navbar">
  <li>
    <a class="update-button" href="{% url 'index'%}">Главная</a>
  </li>
  {% if request.user.is_authenticated %}
  <li>
    <a href="{% url 'project_create' %}">Создать проект</a>
  </li>
  <li>
    <a href="{% url 'user_task' request.user.id %}">Мои задачи</a>
  <li>
    <a href="{% url 'task_create' %}">Создать задачу</a>
  </li>

  <li>
    <a href="{% url 'status' %}">Статусы задач</a>
  </li>
  </ul>
  <ul class="navbar">
  <li>
    Привет, {{ user.username }}! | <a class="update-button" href="{% url 'logout' %}">Выйти</a>
  </li>
  </ul>
  {% else %}
  <ul class="navbar">
  <li>
    <a class="update-button" href="{% url 'register' %}">Регистрация</a> |
  </li>
  <li>
    <a class="update-button" href="{% url 'login' %}">Войти</a>
  </li>
  </ul>
  {% endif %}
</div>